@use "mozek-angular/src/styles" as moz;

:host {
    display: flex;
    width: 100%; height: 100dvh;
    background: var(--background-color);
    overflow: hidden;
}
.container {
    width: 100%; height: 100%;

    .content {
        position: relative;
        width: 100%; height: 100%;
        border-left: solid var(--line-size) var(--line-color);
        border-right: solid var(--line-size) var(--line-color);

        .version {
            position: absolute;
            bottom: 0; right: 0;
            display: flex;
            height: var(--moz-space-4);
            padding: var(--moz-space-1);
            font-family: "CutePixel", sans-serif;
            color: var(--line-color);
            align-items: center;

            &.mobile { height: var(--moz-space-2);}
        }
    }
}